@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	/* Font */
	--font-onest: var(--font-onest);
	--font-dm-serif-display: var(--font-dm-serif-display);

	/* Brand Colors */
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-background: var(--background);
	--color-accent-dark: var(--accent-dark);
	--color-accent: var(--accent);
	--color-primary-dark: var(--primary-dark);
	--color-primary: var(--primary);
	--color-green-dark-dark: var(--green-dark-dark);
	--color-green-dark: var(--green-dark);
	--color-destructive: var(--destructive);
	--color-green: var(--green);

	/* Sidebar Colors */
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-dark: var(--sidebar-accent-dark);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-dark: var(--sidebar-primary-dark);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-dark: var(--sidebar-dark);
	--color-sidebar: var(--sidebar);

	/* Chart Colors */
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);

	/* Elements Colors */
	--color-popover-dark: var(--popover-dark);
	--color-popover: var(--popover);
	--color-card-dark: var(--card-dark);
	--color-card: var(--card);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
}

:root {
	/* Brand Colors */
	--background: #ffffff;
	--foreground: #232323;
	--muted-foreground: #8e8e8e;
	--accent: #f7f7f7;
	--accent-dark: #343434;
	--destructive: #dc2626;
	--primary: #c8f167;
	--primary-dark: #043f2d;
	--green-dark: #043f2d;
	--green-dark-dark: #fbfbfb;
	--green: #52b788;

	/* Elements Colors */
	--card: #ffffff;
	--card-dark: #252525;
	--popover: #ffffff;
	--popover-dark: #252525;
	--border: #ebebeb;
	--input: #ebebeb;
	--ring: #b5b5b5;

	/* Chart Colors */
	--chart-1: #f59e0b;
	--chart-2: #3b82f6;
	--chart-3: #1e40af;
	--chart-4: #84cc16;
	--chart-5: #eab308;

	/* Sidebar Colors */
	--sidebar: #fbfbfb;
	--sidebar-dark: #252525;
	--sidebar-primary: #343434;
	--sidebar-primary-dark: #fbfbfb;
	--sidebar-accent: #f7f7f7;
	--sidebar-accent-dark: #343434;
	--sidebar-border: #ebebeb;
	--sidebar-ring: #b5b5b5;
}

.dark {
	/* Brand Colors */
	--background: #232323;
	--foreground: #ffffff;
	--muted-foreground: #737373;
	--accent: #262626;
	--accent-dark: #e5e5e5;
	--destructive: #ef4444;
	--primary: #a3d948;
	--primary-dark: #d4f5c3;
	--green-dark: #d4f5c3;
	--green-dark-dark: #1a1a1a;
	--green: #52b788;

	/* Elements Colors */
	--card: #171717;
	--card-dark: #fafafa;
	--popover: #171717;
	--popover-dark: #fafafa;
	--border: #2a2a2a;
	--input: #2a2a2a;
	--ring: #525252;

	/* Chart Colors */
	--chart-1: #fb923c;
	--chart-2: #60a5fa;
	--chart-3: #3b82f6;
	--chart-4: #a3e635;
	--chart-5: #facc15;

	/* Sidebar Colors */
	--sidebar: #1a1a1a;
	--sidebar-dark: #fafafa;
	--sidebar-primary: #e5e5e5;
	--sidebar-primary-dark: #1a1a1a;
	--sidebar-accent: #262626;
	--sidebar-accent-dark: #e5e5e5;
	--sidebar-border: #2a2a2a;
	--sidebar-ring: #525252;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	.title {
		@apply text-foreground font-extrabold text-3xl font-dm-serif-display;
	}

	.olood-container {
		@apply px-20;
	}

	.section-bottom {
		@apply mb-28;
	}

	.bgAuth {
		@apply bg-[url(/assets/images/auth-bg.jpg)] bg-cover;
	}
}
